@page
@model RegisterModel
@{
    //ViewData["Title"] = "Register";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

    <style>

        #main {
            margin-bottom: 60px;
        }
    </style>
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Register </h2>
        <!--<h2 class="inactive underlineHover">Sign Up </h2>--->
        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />--->
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="username">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="password">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="confirm password">
            <input type="submit" class="fadeIn fourth" value="Sign up">
        </form>

        <!-- Remind Passowrd-->
        <div id="formFooter">
          <a class="underlineHover" href="#">Already registered?</a>
        </div>

    </div>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="form-group">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already registered?</a>
                </p>
            </div>
        </form>
    </div>
</div>-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
