@model Burgija.Models.Rent

@{
    ViewData["Title"] = "Rent a " + ViewBag.ToolType.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/rent.css" asp-append-version="true" />

</head>

<body>
    <div class="page-content">
        <div class="path-container"></div>
        <div class="item-container">
            <div class="item-img">
                <img src="@ViewBag.ToolTypeImage" alt="">
            </div>
            <div class="rent-details">

                <p class="item-title">@ViewBag.ToolType.Name</p>
                <form class="rent-form" asp-action="Create">
                    <label for="rent-start">Start of rent:</label>
                    <input asp-for="StartOfRent" type="date" id="rent-start" name="StartOfRent"><br>
                    <span asp-validation-for="StartOfRent" class="text-danger"></span>
                    <label for="rent-start">End of rent:</label>
                    <input asp-for="EndOfRent" type="date" id="rent-end" name="EndOfRent"><br>
                    <span asp-validation-for="EndOfRent" class="text-danger"></span>
                    <input type="checkbox" id="delivery-bool" name="delivery-bool" value="delivery-option">
                    <label for="delivery-bool"> Do you want delivery?</label><br>
                    <label for="adress">Your adress: </label>
                    <input type="text" id="adress" name="adress" value="">
                    <input type = "submit" value="Rent" class="rent-button">
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>

<div>
    <a asp-controller="Home" asp-action="ToolDetails" asp-route-id="@ViewBag.ToolType.Id">Back to Tool</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
