@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/filter.css" asp-append-version="true" />

    <style>

        #main {
            margin-bottom: 60px;
        }
    </style>
</head>
<div class="filter-box" >
<p class="title" >Filters</p>

    <form method="post" asp-action="FilterTools">
<p class="parametar">Price range</p>
<div class="price">
    <label class="pushleft" for="fname">Lowest price:</label>
    <input class="form-control"  type="number" id="lowprice" name="priceFrom" min="0" max="10000" step="0.01"><br>
    <label class="pushleft" for="lname">Highest price:</label>
    <input class="form-control" type="number" id="highprice" name="priceTo" min="1" max="10000" step="0.01">
</div>


<p class="parametar">Sort by: </p>

<div class="sort">
    
  <select class="form-control" name="sortOptions" id="sort-options">
    <option value="lowestPrice">LowestFirst</option>
    <option value="highestPrice">HighestFirst</option>
    <option value="alphabetical">Alphabetical</option>

    
  </select>
</div>

<button type="submit" class="apply">Apply</button>
</form>
</div>
</html>