@model IEnumerable<Burgija.Models.ToolType>

@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    
    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    
    <style>

        #main {
            margin-bottom: 60px;
        }
    </style>
</head>

<body>
    <div class="page-content">
        
    </div>
</body>
</html>